@model List<Heaventure.Data.Constellation>
@{
    ViewBag.Title = "Home Page";
}

<div class="row mt-lg">
    @foreach (var constellation in Model)
    {
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-body panel-img-container">
                    <a href="@Url.Action("Details", new { Id = constellation.Id })">
                        <img src="@Url.Content(constellation.ImageUrl)" class="img-responsive" />
                    </a>
                </div>

                <div class="panel-footer">
                    <h3 class="panel-title text-center">
                        @Html.ActionLink(constellation.Name, "Details", new { Id = constellation.Id })
                    </h3>
                </div>
            </div>
        </div>
    }
</div>